*.ipch
*.db
*.suo

*.uvoptx
*.o
*.d
*.crf


Project/VS/F407BootRoutine/F407BootRoutine/VisualGDB/Debug/
Project/VS/F407BootRoutine/VisualGDB/Debug
Project/VS/F407BootRoutine/.vs
OBJ/
Listing/
Output/

*uvguix.a9072
*.uvguix.DongXiaohui